PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.o2zrfpm.mongodb.net/loto_ai?retryWrites=true&w=majority&appName=Cluster0
LOTTERY_SOURCE_BASE_URL=https://xskt.com.vn
XSKT_XSMB_DAILY_URL_TEMPLATE=https://xskt.net/xsmb/{dd}-{mm}-{yyyy}
LOTTERY_FETCH_TIMEOUT_MS=25000
